<div class="my-container">
  <h1 class="title">Add a new list</h1>
  <%= simple_form_for(@new_list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Add List", class: 'btn-submit'%>
  <% end %>
</div>
