// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;



$main-color: #db0000;
$background-color: #000000;
$background-color-navbar: rgba(0, 0, 0, 0.7);
$text-color: #ffffff;
$drop-shadow-black-color: #564d4d;
$drop-shadow-red-color: #831010;
