.grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  padding-top: 30px;
}
.my-card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  border-radius: 5px;
  background-color: dimgray;
  text-decoration: none;
  color: $text-color;
  transition: all .3s .1s;

  &:hover{
    transform: scale(1.04);
    color: $text-color;
    box-shadow: rgba(255, 0, 0, 0.4) 5px 5px, rgba(255, 0, 0, 0.3) 10px 10px, rgba(255, 0, 0, 0.2) 15px 15px, rgba(255, 0, 0, 0.1) 20px 20px, rgba(255, 0, 0, 0.05) 25px 25px;
  }
}

.my-movie-card{
  width: auto;
  box-shadow: rgba(255, 0, 0, 0.4) 5px 5px, rgba(255, 0, 0, 0.3) 10px 10px, rgba(255, 0, 0, 0.2) 15px 15px;
  border-radius: 5px;
  .movie-banner{
    height: 600px;
    width: 100%;
    border-radius: 5px 5px 0 0;

    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 600px) {
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}
