nav{
  position: sticky;
  top: 0;
  width: 100vw;
  height: 52px;
  border-radius: 0 0 10px 10px;
  background-color: $background-color-navbar;
  backdrop-filter: blur(20px);
  z-index: 2;

  .nav-container{
    height: 100%;
    max-width: 1280px;
    padding-inline: 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-link{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 52px;
    }
    .logo{
      height: 36px;
      width: 36px;
      stroke: $text-color;

      transition: all .3s;
      &:hover{
        transform: scale(1.05);
        stroke: $main-color;
      }
    }
    .nav-text-link{
      display: flex;
      color: $text-color;
      stroke: $text-color;

      transition: all .3s;
      &:hover{
        transform: scale(1.05);
        color: $main-color;
        stroke: $main-color;
      }
      svg{
        margin-right: 5px;
      }
    }
  }
}
